body {
  height: 100vh;
  width: 100%;
}
h1 {
  text-align: center;
}
img {
  max-width: 100;
  height: auto;
}
a {
  text-decoration: none;
}
.game-area {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image: url(img/DragonBall/dragon-ball-z-logo-background-1080P-wallpaper-middle-size.jpg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
}
.game-area_title {
  font-family: "Rakkas", cursive;
  height: 10vh;
  width: 100%;
  margin: 0;
  padding: 0 0 10px 0;
  font-size: 3rem;
}
.game-area_parameters {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  height: 5vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: none;
  list-style: none;
}

.game-mat {
  height: 80vh;
  width: 50%;
  transform: translate(50%, 0%);
  display: grid;
  grid-template-columns: repeat(4, auto);
  border: 3px solid black;
  transform-style: preserve-3d;
  perspective: 500px;
}
.card {
  height: 90%;
  width: 66%;
  align-self: center;
  justify-self: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.card_content {
  position: relative;
  width: 100%;
  height: 100%;

  transition: transform 1s;
  transform-style: preserve-3d;
}

.chosen {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}
.card_front,
.card_back {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(img/DragonBall/8c44c2334e9cfe6b2ec49a99c57951e3--dragonball-z-living-room.jpg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  line-height: 300px;
  color: #03446a;
  backface-visibility: hidden;
}

.card_back {
  background: blue;
  color: white;
  transform: rotateY(180deg);
}
